<aside class="sidebar">

  <div class="sidebar-header">
    <h2>EventPark</h2>
    <p>Customer Panel</p>
  </div>

  <nav class="sidebar-nav">

    <a
      routerLink="/customer/dashboard"
      routerLinkActive="active"
    >
      Dashboard
    </a>

    <a
      routerLink="/events"
      routerLinkActive="active"
    >
      Browse Events
    </a>

    <a
      routerLink="/customer/bookings"
      routerLinkActive="active"
    >
      My Bookings
    </a>

    <a
      routerLink="/customer/payments"
      routerLinkActive="active"
    >
      My Payments
    </a>

    <a
      routerLink="/customer/notifications"
      routerLinkActive="active"
    >
      Notifications
    </a>

    <a
      routerLink="/customer/profile"
      routerLinkActive="active"
    >
      My Profile
    </a>

  </nav>

</aside>
